name: Security Scan

on:
  push:
    branches: ["main"]

permissions:
  contents: read
  security-events: write

jobs:
  scan:
    uses: afacchi0/security-workflows/.github/workflows/security-scan.yml@main
    with:
      languages: '["go"]'
      run_codeql: true
      run_tfsec: false
    secrets: inherit
